/* === Estilos base (Mobile First) === */
body {
  background-color: #DFDFDF;
  margin: 0;
  color: #043C2A;
  font-family: "Folks", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* LIGHT */
@font-face {
  font-family: "Folks";
  src: url("/fonts/Folks-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* REGULAR */
@font-face {
  font-family: "Folks";
  src: url("/fonts/Folks-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* NORMAL */
@font-face {
  font-family: "Folks";
  src: url("/fonts/Folks-Normal.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* BOLD */
@font-face {
  font-family: "Folks";
  src: url("/fonts/Folks-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}



/* Hasta 480px - móviles */
@media (max-width: 480px) {
  body {
    font-size: 13px;
    background-color: #DFDFDF;
    color: #043C2A;
  }

}

/* Tablets (481px a 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  
}

/* Laptops (769px a 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  
}


/* Desktop grandes (1025px en adelante) */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }

  
}