/* === Slider Banner === */
.bannerSlider {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  background: #000;
}

.slides {
  display: flex;
  width: 100%; /* se ajusta seg칰n cantidad de im치genes */
  animation: slide 12s infinite;
}

.slides img {
  width: 100%;
  flex-shrink: 0;
  object-fit: contain;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}

/* === Puntos de navegaci칩n === */
.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dots span {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease;
}

.dots span.active {
  background: #00ff88; /* color verde corporativo */
  width: 20px; /* se hace m치s largo el activo */
  border-radius: 20px;
}

/* === Franja de texto inferior === */
.textoLogistica {
  width: 90%;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 8px 15px;
  text-align: center;
  font-weight: 500;
  border-radius: 5px;
}

/* Parte del texto en verde */
.textoLogistica .resaltadoVerde {
  color: #00FF88;
  font-weight: bold;
}

/* === Animaci칩n autom치tica del slider === */
@keyframes slide {
  0%   { transform: translateX(0%); }
  30%  { transform: translateX(0%); }
  33%  { transform: translateX(-100%); }
  63%  { transform: translateX(-100%); }
  66%  { transform: translateX(-200%); }
  96%  { transform: translateX(-200%); }
  100% { transform: translateX(0%); }
}

/* 游님 Responsive */
@media (max-width: 480px) {
  .bannerSlider {
     max-width: 95%;
     margin: 10px auto;
     border-radius: 10px;
    }

  .slides img {
    height: 200px;
  }
  .textoLogistica {
    font-size: 14px;
    padding: 5px 8px;
  }

  
}

@media (min-width: 481px) and (max-width: 1024px) {

.bannerSlider {
     max-width: 95%;
     margin: 10px auto;
     border-radius: 10px;
    }

  .slides img {
    height: 300px;
  }
  .textoLogistica {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .slides img {
    height: 300px;
  }
}
