.footer {
  background-color: #e8e8e8;
  padding: 10px 100px;
  color: #4a4a4a;
}

/* GRID 4 COLUMNAS */
.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

/* COLUMNAS */
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-column h4 {
  font-size: 14px;
  font-weight: 800;
  color: #5b5b5b;
}

/* LINKS */
.footer-link {
  font-size: 14px;
  color: #5b5b5b;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

/* TEXTO */
.direction,
.policy,
.location,
.email {
  margin-top: -2%;
  font-size: 14px;
  color: #6d6d6d;
}

/* EMPRESA B */
.footer-bcorp {
  align-items: center;
  text-align: center;
}

.footer-bcorp img {
  width: 115px;
}

/* REDES */
.footer-socials {
  display: flex;
  gap: 14px;
  margin-top: 10px;
}

.footer-socials img {
  width: 22px;
  opacity: 0.7;
  transition: 0.25s ease;
}

.footer-socials img:hover {
  opacity: 1;
  transform: translateY(-2px);
}

/* LOGO INFERIOR */
.footer-logo-section {
  margin-top: 10px;
  text-align: center;
}

.footer-main-logo {
  width: 230px;
}

.small-note {
  font-size: 13px;
}

/* COPYRIGHT */
.footer-copy {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  border-top: 1px solid #c5c5c5;
  padding-top: 15px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 35px 25px;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 35px;
  }

  .footer-column,
  .footer-bcorp {
    align-items: flex-start;
    text-align: left;
  }

  .footer-socials {
    justify-content: flex-start;
  }

  .footer-logo-section,
  .footer-copy {
    text-align: left;
  }
}
